-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: fullstack_test_portal
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `submissions`
--

DROP TABLE IF EXISTS `submissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `submissions` (
  `id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `challenge_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `course_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `level` int DEFAULT NULL,
  `session_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `additional_files` json DEFAULT NULL,
  `candidate_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `html_code` longtext COLLATE utf8mb4_unicode_ci,
  `css_code` longtext COLLATE utf8mb4_unicode_ci,
  `js_code` longtext COLLATE utf8mb4_unicode_ci,
  `status` enum('pending','passed','failed','queued','evaluating','error','saved') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `submitted_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `evaluated_at` timestamp NULL DEFAULT NULL,
  `structure_score` int DEFAULT '0',
  `visual_score` int DEFAULT '0',
  `content_score` int DEFAULT '0',
  `final_score` int DEFAULT '0',
  `passed` tinyint(1) DEFAULT '0',
  `evaluation_result` json DEFAULT NULL,
  `user_screenshot` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `expected_screenshot` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `diff_screenshot` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_feedback` text COLLATE utf8mb4_unicode_ci,
  `admin_override_status` enum('passed','failed','none') COLLATE utf8mb4_unicode_ci DEFAULT 'none',
  `admin_override_reason` text COLLATE utf8mb4_unicode_ci,
  `is_exported` tinyint(1) DEFAULT '0',
  `exported_at` timestamp NULL DEFAULT NULL,
  `user_screenshot_data` mediumblob,
  `expected_screenshot_data` mediumblob,
  `diff_screenshot_data` mediumblob,
  PRIMARY KEY (`id`),
  KEY `idx_user_challenge` (`user_id`,`challenge_id`),
  KEY `idx_status` (`status`),
  KEY `idx_course_level` (`course_id`,`level`),
  KEY `challenge_id` (`challenge_id`),
  KEY `idx_user_challenge_status` (`user_id`,`challenge_id`,`status`),
  KEY `idx_submissions_session` (`session_id`,`status`),
  CONSTRAINT `submissions_ibfk_1` FOREIGN KEY (`challenge_id`) REFERENCES `challenges` (`id`) ON DELETE CASCADE,
  CONSTRAINT `submissions_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submissions`
--

LOCK TABLES `submissions` WRITE;
/*!40000 ALTER TABLE `submissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `submissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `challenges`
--

DROP TABLE IF EXISTS `challenges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `challenges` (
  `id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `difficulty` enum('Easy','Medium','Hard') COLLATE utf8mb4_unicode_ci DEFAULT 'Medium',
  `description` text COLLATE utf8mb4_unicode_ci,
  `instructions` text COLLATE utf8mb4_unicode_ci,
  `tags` json DEFAULT NULL,
  `time_limit` int DEFAULT '30',
  `passing_threshold` json DEFAULT NULL,
  `expected_html` longtext COLLATE utf8mb4_unicode_ci,
  `expected_css` longtext COLLATE utf8mb4_unicode_ci,
  `expected_js` longtext COLLATE utf8mb4_unicode_ci,
  `expected_screenshot_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `course_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `level` int DEFAULT NULL,
  `points` int DEFAULT '100',
  `hints` json DEFAULT NULL,
  `assets` json DEFAULT NULL,
  `created_by` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `expected_screenshot_data` mediumblob,
  `challenge_type` enum('web','nodejs') COLLATE utf8mb4_unicode_ci DEFAULT 'web',
  `expected_output` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `idx_course_level` (`course_id`,`level`),
  CONSTRAINT `challenges_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `challenges`
--

LOCK TABLES `challenges` WRITE;
/*!40000 ALTER TABLE `challenges` DISABLE KEYS */;
/*!40000 ALTER TABLE `challenges` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-04 10:39:30
